<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        @{
            var KantoStarters = new List<string>
            {
                "Bulbasaur",
                "Ivysaur",
                "Venusaur",
                "Charmander",
                "Charmeleon",
                "Charizard",
                "Squirtle",
                "Wartortle",
                "Blastoise",
                "Lucario"
            };
                
            foreach(var pokemon in KantoStarters)
            {
                string style= pokemon.Contains('b') || pokemon.Contains('B') ? "color: red" : "color: black";
                <div style="@style">
                    <p>@pokemon</p>
                </div>
                <div>@style</div>
            }
        }
    </body>
</html>

